<div class="social">
	<ul>
<li>	<a target="_blank"  href="https://www.linkedin.com/in/anooshikvrtn">linkedin</a></li>
<li>	<a target="_blank"  href="https://www.upwork.com/freelancers/~01094659b026ea2818/">upwork</a></li>
<li>	<a target="_blank"  href="https://twitter.com/a_vrtn">twitter</a></li>
<li>	<a target="_blank"  href="https://github.com/a-vrtn">github</a></li>
<li>	<a target="_blank"  href="https://anooshik.am">website</a></li>
</ul>
</div>
<div class="footer"> 
	 <span>This is <b>MY OWN</b> work and the contents of this website may not be copied, in part or full, without permission.</span>
</div>
<div class="mail">
<div class="jJFfEJ">
<a style="writing-mode: vertical-lr;" href="mailto:vartanian.anooshik@gmail.com">vartanian.anooshik@gmail.com</a>
</div>
</div>