p{
	color:  var(--main-first)
}
.content{
	display: flex;
flex-direction: row;
width: 100%;
justify-content: space-between;
}
.wrapper{
	/*    box-shadow: 0 10px 30px -15px var(--navy-shadow);*/
    transition: var(--transition-default);
    display: block;
    position: relative;
    width: 100%;
    border-radius: 4px;

    padding: 20px;
    border-radius: 50%;
      animation: pulse 3s infinite;
animation-timing-function: ease-in;
  /*  background-color: var(--main-first);*/
}

.image{
	    display: block;
    position: relative;
    max-width: 300px;
}



.wrapper .img {
    position: relative;
    border-radius: 4px;
  /*  mix-blend-mode: multiply;*/
  /*  filter: grayscale(100%) contrast(1);*/
    transition: var(--transition-default);
}

img, svg{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

img{
	
    border-radius: 4px;bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;

}


.wrapper:hover,  .wrapper:focus {
    outline: 0px;
}
.wrapper:hover,  .wrapper:focus {
    box-shadow: 0 20px px 30px -15px var(--navy-shadow);
}

 .wrapper:hover::before, .wrapper:focus::before {
    top: 15px;
    left: 15px;
}

.wrapper:hover .img, .wrapper:focus .img {
    filter: none;
    mix-blend-mode: normal;
}


@media screen and (max-width: 1280px) {
.content{
    flex-direction: column;
}
}



@keyframes pulse {
 0%, 100% {
      background: rgba(255, 255, 255, 0.2);
 }
  50% {
    background-color: rgba(255, 255, 255, 0.3);

  }
}