/**
***/

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.navigation{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
button, ol li a{
        margin: 0px 15px;
        padding-top: 4px;
    position: relative;
    counter-increment: item 1;
    background-color: transparent;
    border:  none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
}
span{
     color: var(--main-first);
      margin-right: 5px;   
     text-align: right;
}
#resume{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: var(--main-first);
    position: relative;
    padding:0.35em;
    margin-right: 24px;
    margin-left: 16px;
    margin-top: 8px;
    border: 1px solid var(--main-first);
    border-radius: 4px;
}

#menu {
  z-index: 160;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--main-first);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 10px;
  left: 0;
    position: fixed;
    z-index: 150;
}

.menu-bg {
  z-index: 140;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, var(--main-first), var(--main-first));
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

/****/

@media screen and (max-width: 768px) {
  .navigation{
    display: none;
  }
    
}
@media only screen and (min-width: 768px){

  #menu, .change-bg{
    display: none;
  }
   nav{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    counter-reset: item 0;
    z-index: 12;
     position: fixed;
  top: 0;
  width: 100%;
}
}
