<div class="section">
  <h3>What is my professional Experience</h3>
<div class="container">
  <div role="tablist" class="list">
<div *ngFor="let place of places" class="place">
  <button id="place-{{place.id}}" class="places" role="tab" type="button" (click)="onSelect(place)">
  <span>	{{place.name}}</span>
  </button>
</div>
</div>
<div *ngIf="selectedPlace">
 <p>     {{selectedPlace.name}}</p>
<p>{{selectedPlace.position}}</p>
<p>{{selectedPlace.place}}</p>
<p>{{selectedPlace.duration}}</p>
<p>{{selectedPlace.description}}</p>
<h6 *ngIf="selectedPlace.technologies">technologies:</h6>
<li *ngFor="let technology of selectedPlace.technologies">
  <span>
  	{{technology}}
  </span>
</li>
<h6 *ngIf="selectedPlace.coursework">coursework:</h6>
<li *ngFor="let coursework of selectedPlace.coursework">
  <span>
  	{{coursework}}
  </span>
</li>
</div>
</div>
<div>
<p>Since summer of 2021, I have also started working as freelancer on Upwork and have been fortunate enough to cooperate with clients of different background on variety of projects.</p>
</div>
</div>