/* You can add global styles to this file, and also import other style files */
:root {

  --text-mid: #ccd6f6;
  --text-light: #a8b2d1;
  --background: #0a192f ;
  --main-first:#64a9ff ;
  --transition-default:  all 0.25s cubic-bezier(0.645,0.045,0.355,1) ;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
}

* {
  font-family: Helvetica, sans-serif;
}
body{
   color:var(--text-mid);	
  background-color:var(--background) ;

 }
 h1{
	 color: var(--white);	
 }
 .button{
     color: var(--main-first);
    background-color: transparent;
    border: 1px solid var(--main-first);
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition-default);
  
}

.container{
     display: flex;
        margin: 16px;
        padding: 12px;
}


.section{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}